@import url('../css/fonts.css');
:root {
  /* Coolors palette */
  /* https://coolors.co/d6d6d6-f5f410-ffd100-202020-333533 */
  --light-gray: #d6d6d6;
  --lemon: #f5f410;
  --cyber-yellow: #ffd100;
  --eerie-black: #202020;
  --jet: #333533;

  /* CSS VARS */
  --Staat: Staat, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --fade: linearGradient(90deg, #f83600 0%, #f9d423 100%);
  --light-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Gradients */

/* End of Gradients */

/* Defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL CLASSES */

header {
  background-color: var(--lemon);
  box-shadow: var(--light-shadow);
}

.nav .nav-items .social a{
  text-decoration: none;
}
.nav-link a {
  color: inherit;
  padding:0 0.3rem;
  display: flex;
  text-decoration:none;
  align-items: center;
  height: 100%;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  /* flex wrap colapseaza Social Icons sub Logo */
  flex-wrap: wrap;
}
.nav .nav-menu {
  justify-content: space-between;
  background-color: var(--lemon);
}
ul {
  list-style-type: none;
}

/* END of GLOBAL CLASSES */

/* Navigation */
nav {
  background-color: var(--lemon);
  padding: 0 2rem;
  height: 0rem;
  min-height: 6rem;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

/* Linkuri */
.nav .nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  height: 6rem;
}

.nav .nav-items .nav-link {
  font-family: var(--Staat);
  /* padding: 2rem 1.4rem; */
  display: flex;
  padding: 0 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  position: relative;
  background-color: var(--lemon);

}
.nav .nav-items .nav-link :hover {
  background-color: var(--eerie-black);
  color: var(--cyber-yellow);
  transition: all .35s ease-out;
}

/* Bars */
.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
}
.nav .toggle-collapse .toggle-icon i {
  font-size: 2rem;
  color: var(--eerie-black);
  transition: all 0.2s linear;
}

.nav .toggle-collapse .toggle-icon i:hover {
  transform: rotate(90deg);
}

.toggle {
  height: 24rem;
}

/* Social */
.nav .social {
  background-color: var(--lemon);
  padding: 2rem 0;
  text-decoration: none;
  color: blue;
  font-size: 2rem;
}
/* END of Navigation */

/* Viewport <= 750px */
@media only screen and (max-width: 830px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }
  .nav .nav-items .nav-link {
  padding: 0.8rem 0;
  width: 100%;
}
