// FONTS
@import url('../css/fonts.css');

// VARS
:root {
  /* Coolors palette */
  // https://coolors.co/d6d6d6-f5f410-ffd100-202020-333533
  --light-gray: #d6d6d6;
  --lemon: #f5f410;
  --cyber-yellow: #ffd100;
  --eerie-black: #202020;
  --jet: #333533;
  --despre-albastru: #a0daf3;
  --despre-galben: #ffd101;
  --RobotoC: RobotoC;
  --Staat: Staat;
  --fade: linearGradient(90deg, #f83600 0%, #f9d423 100%);
  --light-shadow: 15px 10px 15px 15px rgba(0, 0, 0, 0.2);

  --navbar-height: 82px;

  --breakpoint-tablet: 768px;
  --breakpoint-phone: 340px;
}
// Defaults
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
