footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: var(--eerie-black);
  box-shadow: 10px 10px 12px 12px rgba(0, 0, 0, 0.1);

  p {
    font-family: Staat;
    color: azure;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
}
