/* VIDEO */
.video-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.welcome-header {
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  min-height: calc(100vh - 6rem);
  position: relative;
  display: grid;
  place-items: center;

  // font-family: Start2P;
  font-family: Staat;
  font-size: 5rem;
  color: floralwhite;
  letter-spacing: 3px;
}

/* Viewport <= 750px */
@media only screen and (max-width: 832px) {
  .welcome-header {
    font-size: 3.3rem;
  }
}
